<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="LogFile" xsi:type="File"
            fileName="${basedir:processDir=true}${dir-separator}logs${dir-separator}${gdc:item=AppStartupTime}.log"
            encoding="utf-8" lineEnding="CRLF"
            header="${longdate:universalTime=false}|STARTUP|${processname}|v${assembly-version:type=File:format=major.minor.build}"
            layout="${longdate:universalTime=false}|${level:uppercase=true}|${logger}: ${message:exceptionSeparator=|EXCEPTION|:withException=true}"
            footer="${longdate:universalTime=false}|SHUTDOWN|${processtime:invariant=true}"
            createDirs="true" optimizeBufferReuse="true"
            keepFileOpen="true" concurrentWrites="true"
            openFileCacheTimeout="30" openFileFlushTimeout="15">
    </target>
    <target name="DebugLogFile" xsi:type="File"
            fileName="${basedir:processDir=true}${dir-separator}logs${dir-separator}debug${dir-separator}${gdc:item=AppStartupTime}.log"
            encoding="utf-8" lineEnding="CRLF"
            header="${longdate:universalTime=false}|STARTUP|${processname}|v${assembly-version:type=File:format=major.minor.build}"
            layout="${longdate:universalTime=false}|${level:uppercase=true}|thread=${threadid}|${callsite:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true:skipFrames=0}|${logger}: ${message:exceptionSeparator=|EXCEPTION|:withException=true}"
            footer="${longdate:universalTime=false}|SHUTDOWN|${processtime:invariant=true}"
            createDirs="true" optimizeBufferReuse="true"
            keepFileOpen="true" concurrentWrites="true"
            openFileCacheTimeout="30" openFileFlushTimeout="15">
    </target>
  </targets>

  <rules>
    <logger name="Log*" minlevel="Info" writeTo="LogFile"/>
    <logger name="*Log*" minlevel="Trace" writeTo="DebugLogFile"/>
  </rules>
</nlog>