<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="AppDirectoryName" value="${processname}"/>
  <variable name="DefaultLogDirectoryPath" value="${basedir:processDir=true}${dir-separator}logs${dir-separator}${var:AppDirectoryName}${dir-separator}default"/>
  <variable name="DebugLogDirectoryPath" value="${basedir:processDir=true}${dir-separator}logs${dir-separator}${var:AppDirectoryName}${dir-separator}debug"/>

  <targets async="true">
    <target name="DefaultLogFile" xsi:type="File"
            fileName="${var:DefaultLogDirectoryPath}${dir-separator}${gdc:item=RIS-AppStartupTime}.log"
            encoding="utf-8" lineEnding="CRLF"
            header="${longdate:universalTime=false}|STARTUP|${processid}|${processname}|v${assembly-version:type=File:format=major.minor.build}"
            layout="${longdate:universalTime=false}|${level:uppercase=true}|${logger}: ${message:exceptionSeparator=|EXCEPTION|:withException=true}"
            footer="${longdate:universalTime=false}|SHUTDOWN|${gdc:item=RIS-AppExitCode}|${gdc:item=RIS-AppLifetime}"
            createDirs="true" optimizeBufferReuse="true"
            keepFileOpen="true" concurrentWrites="true"
            openFileCacheTimeout="30" openFileFlushTimeout="15">
    </target>
    <target name="DebugLogFile" xsi:type="File"
            fileName="${var:DebugLogDirectoryPath}${dir-separator}${gdc:item=RIS-AppStartupTime}.log"
            encoding="utf-8" lineEnding="CRLF"
            header="${longdate:universalTime=false}|STARTUP|${processid}|${processname}|v${assembly-version:type=File:format=major.minor.build}"
            layout="${longdate:universalTime=false}|${level:uppercase=true}|thread=${threadid}|${callsite:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true:skipFrames=0}|${logger}: ${message:exceptionSeparator=|EXCEPTION|:withException=true}"
            footer="${longdate:universalTime=false}|SHUTDOWN|${gdc:item=RIS-AppExitCode}|${gdc:item=RIS-AppLifetime}"
            createDirs="true" optimizeBufferReuse="true"
            keepFileOpen="true" concurrentWrites="true"
            openFileCacheTimeout="30" openFileFlushTimeout="15">
    </target>
  </targets>

  <rules>
    <logger name="*"
            writeTo="DebugLogFile"/>
    <logger name="*Default*"
            minlevel="Info"
            writeTo="DefaultLogFile"/>
  </rules>

</nlog>